.form__fieldset {
	background-color: white;
	border: none;
	padding: 15px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.form__header {
	margin: 0px;
}

@media (max-width: 500px) {
	.form__fieldset {
		flex-wrap: wrap;
	}
}

.form__input {
	flex: 1 0;
	padding: 10px;
	margin-right: 15px;
}

@media (max-width: 500px) {
	.form__input {
		flex: 1 1 100%;
		margin: 5px 0px;
	}
}

.form__button {
	color: white;
	background-color: teal;
	border: none;
	cursor: pointer;
	padding: 10px;
}

.form__button:hover {
	background-color: hsl(180, 100%, 30%);
}

.form__button:active {
	background-color: hsl(180, 100%, 40%);
}

@media (max-width: 500px) {
	.form__button {
		flex-grow: 1;
	}
}
